.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;

  &.is-outlined {
    border-width: 2px;
  }

  .is-primary{
    background: $primary !important;
  }
}

.button-plus {
  font-size: 13px !important;
  font-weight: 400;
  float: left;
  text-transform: uppercase;
  color: $primary;
  i {
    font-size: 13px;
  }
}

input[type="file"] {
  display: none;
}

.upload-avatar {
  border-color: transparent;
  color: #6ac1db;
  cursor: pointer;
  float: right;
}

