<%= content_for(:page){ "Cadastro de Carro" } %>
<br />

<div class="columns is-centered resource">
  <div class="column">
    <div class="card">
      <div class="card-content is-3">
        <%= render 'form', car: @car %>
      </div>
    </div>
  </div>
</div>