<tr>
  <td class="wrapper">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <p>Olá, <%= @resource.try(:name) %></p>
          <p>Recebemos uma solicitação de recuperação de senha do acesso ao <strong>Loca.Ai</strong>.<br />
            Para alterar sua senha, basta clicar no botão a baixo:</p>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
              <tr>
                <td align="left">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td>
                          <a href="#">alterar</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p>Se você não solicitou esta alteração, por favor ignore este email.</p>
          <p>Sua senha não será alterada até que você acesse o link do botão acima e crie uma nova senha.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>