<% if current_user %>  
  <div class="navbar-item">
    <figure class="avatar image is-64x64 is-marginless">
    <% if current_user.avatar.attached? %>   
      <image src="<%= url_for(current_user.avatar) %>" class="is-rounded">
    <% else %>
      <%= image_tag('tmp/avatar.png', size: 64) %>
    <% end %>
    </figure>
    </div>

    <div class="navbar-item has-dropdown is-hoverable user-menu">
    <a class="navbar-link is-arrowless" href="/">
      <i class="material-icons">more_vert</i>
    </a>
    <div class="navbar-dropdown is-boxed is-right">      
      <hr class="dropdown-divider">
      <a class="navbar-item" href="/">
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'navbar-item' %> 
      </a>
    </div>
  </div>
  <% else%> 
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
        Loca.Ai
        </a>
      </div>
      <div class="navbar-end">  
      <div class="navbar-item">
          <div class="buttons">
            <a href="/cadastrar" class="button is-primary">
            Cadastrar
            </a>
            <a href="/entrar" class="button">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </nav>
  <% end %>